.content-info {
    background: #f9f9f9;
    padding: 40px 0;
    background-size: cover!important;
    background-position: top center!important;
    background-repeat: no-repeat!important;
    position: relative;
   padding-bottom:100px;
}

.my-fs-10 {
    font-size: 10px;
}

.table-div {
    width: 80%;
}

.next-fix-div {
    width: 20%;
}

.table {
    width: 95%;
    background: #fff;
    border: 1px solid #dedede;
    margin: 10px;
}

table thead tr th {
    padding: 20px;
    border: 1px solid #dedede;
    color: #000;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background: #f9f9f9;
}

table.result-point tr td.number {
    width: 100px;
    position: relative;
} 

.text-left {
    text-align: left!important;
}

table tr td {
    padding: 10px 20px;
    border: 1px solid #dedede;
}
table.result-point tr td .fa.fa-caret-up {
    color: green;
}

table.result-point tr td .fa {
    font-size: 20px;
    position: absolute;
    right: 20px;
}

table tr td {
    padding: 10px 40px;
    border: 1px solid #dedede;
}

table tr td img, .next-fix-club {
    max-width: 32px;
    max-height: 32px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    float: left;
    margin-right: 11px;
    margin-top: 1px;
}

.player-detail-table {
    border-collapse: separate;
    border-spacing: 30px 0;
}